{% extends 'forum/forum_base.html.twig' %}

{% block title %} Forum Fornheim {% endblock %}
{% block section %}
{{ dump(categories) }}
    <div class="main-wrap">

        <div class="main-title"><h1>Catégories</h1></div>
        <hr>
        <div class="category-wrap">

            {% for categorie in categories %}

                <div class="main-category">

                   <a href="{{ path('forum_category', {idCategory: categorie.mainCategory.id}) }}"><h3 class="category-title">{{ categorie.mainCategory.titleCategory }}</h3></a>



                <div class="subcat">
                    {% for subCategorie in categorie.subCategories %}

                        <a href="{{ path('forum_category', {idCategory: subCategorie.id}) }}"><h4 class="sub-title">{{ subCategorie.titleCategory }}</h4></a>

                    {% endfor %}
                </div>

                </div>


            {% endfor %}

        </div>
    </div>
{% endblock %}